body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.logo{
    max-width: 100%;
    max-height: 400px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}
